<script type="text/javascript">
  setTimeout(
  window.onload = function() {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {zoom: 13}, internal: {id: 'map'} }, 
      function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.map.centerOn({ lat: <%=@map.center_lat%>, lng: <%=@map.center_lng%> });
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        
      });
  }, 1)
</script>

<h1>Customize <%= "#{@map.title} (#{@map.city})" %></h1>
<%= link_to "finished", root_path %>

<h3>Current Places</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Link</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% @map.places.each do |place| %>
    <tr>
      <td><%= place.title %></td>
      <td><%= place.address %></td>
      <td><%= link_to place.link, place.link, target: "_blank" %></td>
      <td><%= place.description %></td>
      <td>
        <%= form_tag edit_place_path(place), method: :get do  %>
          <%= hidden_field_tag :map_id, @map.id %>
          <%= submit_tag "edit"%>
        <% end %>
      </td>
      <td>
        <%= form_for place do |f| %>
          <%= f.hidden_field :map_id, value: @map.id %>
          <%= button_to "remove", place, method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan="5">
      <%= form_for @place do |f| %>
      New Place:
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.text_field :address, placeholder: "Address or landmark" %>
        <%= f.text_field :link, placeholder: "url (optional)" %>
        <%= f.text_field :description, placeholder: "description (optional)" %>
        <%= f.hidden_field :map_id, value: @map.id %>
        <%= f.submit "Add Place", id: "submit" %>
      <% end %>
    </td>
  </tr>
</table>


<div style='width: 800px;'  class="map">
  <div id="map" class="map" style='width: 800px; height: 600px;'></div>
</div>

