<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
</script>

<h1>Customize Map: <%= @map.title %></h1>
<%= link_to "finished", map_path(@map) %>

<h3>Current Places</h3>
<ul>
  <% @map.places.each do |place| %>
    <li><%= place.title %></li>
  <% end %>
</ul>

<div style='width: 800px;'  class="map">
  <div id="map" class="map" style='width: 800px; height: 600px;'></div>
</div>

<%= form_for @place do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Place title" %>
  <%= f.label :address %>
  <%= f.text_field :address, placeholder: "Street address" %>
  <%= f.label :link %>
  <%= f.text_field :link, placeholder: "Place url (optional)" %>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Notes (optional)" %>
  <%= f.hidden_field :map_id, value: @map.id %>
  <%= f.submit "Add Place", id: "submit" %>
<% end %>