<h1>Add a new map</h1>

<%= form_for @map do |f| %>
 	<%= f.label :title %>
 	<%= f.text_field :title, placeholder: "Map title" %>
 	<%= f.label :city %>
 	<%= f.text_field :city, placeholder: "city, state" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
 	<%= f.submit "Create Map" %>
<% end %>
