<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
</script>

<h1><%= "#{@map.title} (#{@map.city})" %></h1>
<%= link_to "edit map", edit_map_path(@map) %>

<ul>
	<li><%= @map.title %></li>
	<li><%= @map.city %></li>
  <li>Places
    <ul>
      <% @map.places.each do |place| %>
        <li><%= place.title %></li>
      <% end %>
    </ul>
  </li>
</ul>

<div style='width: 800px;'  class="map">
  <div id="map" class="map" style='width: 800px; height: 600px;'></div>
</div>
