<h1>Welcome to Mapshare</h1>
<%= link_to "See all  maps", maps_path %>
<%= link_to "Create a new map", new_user_session_path %>

<% if user_signed_in? %>

  <!-- Current Requests -->
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Inbox (<%= current_user.requests.count %> new)</h3></div>
    <table class="table table-condensed">
      <% current_user.requests.each do |req| %>
        <% if req.verb == "share" %>
          <tr>
            <% map = Map.find(req.map_id) %>
            <td><%= User.find(req.from_user).email %> wants to share <%= link_to "#{map.title} (#{map.city})", map_path(map) %></td>
            <td><%= button_to 'copy', copy_request_path(req), method: :post, class: "btn btn-success btn-xs" %></td>
            <td><%= button_to "delete", req, method: :delete, class: "btn btn-danger btn-xs" %></td>
          </tr>
        <% elsif req.verb == "follow" %>
          <tr>
            <% map = Map.find(req.map_id) %>
            <td><%= User.find(req.from_user).email %> wants to follow your map <%= link_to map.title, map_path(map) %></td>
            <td><%= button_to "allow", allow_request_path(req), method: :post, class: "btn btn-info btn-xs" %></td>
            <td><%= button_to "delete", req, method: :delete, class: "btn btn-danger btn-xs" %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>


  <!-- User's Maps -->
  <div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Your Maps</h3></div>
    <table class="table">
      <tbody>
      <% current_user.maps.each do |map| %>
        <tr>
          <td><%= link_to(map.title, map_path(map)) %></td>
          <td><%= map.city %></td>
          <td><%= link_to("edit", edit_map_path(map)) %></td> 
          <td><%= button_to "delete", map, method: :delete, class: "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>



    <!-- Create a New Map -->
  <h3>Make a new map</h3>
  <%= form_for @map do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "map title" %>
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: "city, state" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Create Map" %>
  <% end %>

  <h3>Merge two of your maps</h3>
  <%= form_tag maps_merge_path, class: '' do %>
    merge <%= collection_select(:map1, :id, current_user.maps, :id, :title) %>
    into <%= collection_select(:map2, :id, current_user.maps, :id, :title) %>
    <%= submit_tag("Merge!") %>
  <% end %> 




  <h3>Share one of your maps:</h3>
  <%= form_tag({controller: "requests", action: "create"}, method: "post", class: "") do %>
    Send <%= collection_select(:map, :id, current_user.maps, :id, :title) %>
    to <%= collection_select(:user, :id, User.all, :id, :email) %>
    <%= submit_tag("Send Map") %>
  <% end %>

<% end %>

